<div class="container-fluid m-3">

    <form [formGroup]="form" (ngSubmit)="uploadFile(form.value)">

        <div class="w-50 mb-3">
            <label for="formFile" class="form-label">Upload your file:</label>
            <input class="form-control" type="file" #filePicker id="formFile" (change)="onFileChange($event)"
                accept=".csv">
        </div>

        <div class="w-25 mb-3">
            <label for="dateformat" class="form-label">Date Format:</label>
            <select id="dateformat" class="form-control" (change)="changeDateFormat($any($event).target.value)"
                formControlName="dateFormat">
                <option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
                    {{ dateFormat }}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            Upload
        </button>
    </form>

    <app-projects-listing [projectsData]="projectsData"></app-projects-listing>

</div>